<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collectibles</title>
</head>
<body>
    <h1>So, you want the <%= item.name %>. For $<%= item.price %>, it can be yours!</h1>
</body>
</html>